@model MusicDatabase.Models.SongPlay;
@{
    ViewData["Title"] = "Play Song";
    string song = "/Songs/"+Model.SongEntryId + ".mp4";
    string thumb = "/Thumbs/"+Model.SongEntryId + ".jpeg";
}
    
<link rel="stylesheet" href="~/css/mediaplayer.css">
<div class="maincontainer">
    <div class="songContainer">
        <div class="songCard">
            <div class="thumbnail">
                <img src="@thumb" alt="Logo" onerror="this.src='/Assets/music_logo.png'">
            </div>
            <div class="songInfo">
                <input type="hidden" id="mid" value="@Model.SongEntryId">
                <p>@Model.SongName</p>
                <p>@Model.SongArtist</p>
                <p>@Model.SongAlbum</p>
                <p>@Model.SongReleased</p>
            </div>
        </div>
        <div class="songControls">
            <div class="mediaplayer">
                <audio id="mediaPlayer" src="@song"></audio>
            </div>
            <div class="progressBarContainer">
                <div id="timeProgressBar" class="progressBar">
                    <div id="timeProgress" class="_progress"></div>
                    <div id="timeProgressHandle" class="handle"></div>
                </div>
            </div>
            <div class="timeContainer">
                <p id="currentTime">00:00</p>
                <p id="totalTime">00:00</p>
            </div>
            <div class="controlButtons">
                <div class="seek" id="seek-prev"></div>
                <div class="play playBG" id="play"></div>
                <div class="seek" id="seek-next"></div>
            </div>
        </div>
    </div>
    <div class="listContainer">
        <div class="songList">
            <p class="header">SONGS</p>
            <div class="scroll">
                <partial name="MediaList.cshtml" model="Model"/>
            </div>
        </div>
    </div>
</div>
<script src="~/js/mediaplayer.js" asp-append-version="true"></script>