@model MusicDatabase.Models.SongListModel;
@{
    ViewData["Title"] = "Search";
    int counter = 0;
}

<table class="table">
    <thead>
        <tr>
            <th scope="col">No.</th>
            <th scope="col">Song Name</th>
            <th scope="col">Song Artist</th>
            <th scope="col">Song Album</th>
            <th scope="col">Released</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @{
            if (Model.SongList != null)
            {
                foreach (var song in Model.SongList)
                {
                    counter++;
                    <tr>
                        <th scope="row">@counter</th>
                        <td>@song.SongName</td>
                        <td>@song.SongArtist</td>
                        <td>@song.SongAlbum</td>
                        <td>@song.SongReleased</td>
                        <td>
                            <a class="link-primary p-1" href="/Play?mid=@song.SongEntryId">Play</a>
                            <a class="link-primary p-1" asp-controller="Database" asp-action="Edit" asp-route-id="@song.SongEntryId">Edit</a>
                            <a class="link-primary p-1" asp-controller="Database" asp-action="Delete" asp-route-id="@song.SongEntryId">Delete</a>
                        </td>
                    </tr>
                }
            }
        }
    </tbody>
</table>
@if (counter == 0)
{
    <p class="display-6 text-center text-alert">Song Database is Empty</p>
}